-#= form_tag(finished_char_path) do
  -#= label_tag(:name, "Characters Name")
  -#%input{id: "character_name", name: "character_name", type: "text"}
  -#%br
  -#= submit_tag("Make My Character!", :class => 'btn btn-primary')
= form_for @character do |f|
  = f.text_field :name
  = f.submit 'Save'
