%h1 New Character

= render 'form'
-#= render 'name_form'
-#= render 'stat_form'
-#= render 'race_form'
-#= render 'role_form'
-#= render 'stat_form'
-#= render 'feat_form'
-#= render 'equipment_form'
-#= render 'other_form'


= link_to 'Back', root_path
