%div#race-basic.race-box
  %h1 Choose your Race
  %p Races are an important part of Pathfinder, and of your character. They bestow powerful bonuses while helping flesh out the backstory, temperment, and 'feel' of your character. Use the buttons on the right and left to help make your choice!
