%div.role-wrapper.row-fluid
  %div.btn-group.btn-group-vertical.left-role.span2
    %div#wizard-role-select.role-select.btn.btn-block
      %p Wizard 
    %div#fighter-role-select.role-select.btn.btn-block
      %p Fighter
  %div.role-window.span8
    =render 'role-boxes'
