// Place all the styles related to the character_creation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin no-select  {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
 }
h3.subhead {text-align:center;}

#roll_5_d6 {
  margin-left: 17%;
 }

#roll_3_d6 {
  margin-left:19%;
 }

#roll_1_d20 {
  margin-left: 18.5%;
}

hr.subhead {
  width:75%;
  margin:10px auto;
 }

.desc_button{
@include no-select
 }
.inc_button {
@include no-select
 }
